// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {
  --font-family: "Roboto", sans-serif;
  --font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --font-size-small: 12px;

  --primary-color: #212121;
  --header-bg: #000a12;

  --home-link-color: #ffffff;
  --home-link-hover-color: #bdbdbd;

  --button-color: #000000;
  --button-alternate-color: #ffff00;

  --post-link-color: #0f070b;

  --nav-link-hover-bg: #111;
  --text-color-meta: #212121;

  --label-text: rgba(0, 0, 0, 0.5);
  --input-focus-border: #83aaac;

  // CSS Grid Utility
  --grid-gap: 30px;
}
