@import "theme-variables";
@import "defaults";
@import "lib/css-grid-utility";

// .primary-container {
// 	display: grid;
// 	grid-template-rows: 60px auto 60px;
// 	min-height: 100vh;
// }
.primary-container main {
  min-height: calc(100vh - 60px - 81px);
}
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: var(--header-bg);
  padding: 20px 20px;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #bdbdbd;
    }
  }
}
.site-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
    margin-left: 20px;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #bdbdbd;
    }
  }
  a[aria-current="page"] {
    color: #fff;
  }
  .menu-trigger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    padding: 0;
    cursor: pointer;
  }
  @media (max-width: $breakpoint-lg) {
    .menu-trigger,
    .icon-menu-line {
      display: flex;
    }

    .icon-menu-close {
      display: none;
    }
    .menu-trigger.is-active {
      .icon-menu-line {
        display: none;
      }
      .icon-menu-close {
        display: flex;
      }
    }
    .menu-trigger.is-active + ul {
      display: block;
    }
    ul {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 1;
      background: #1b1b1b;
      width: 100%;
      max-width: 320px;
      border-radius: 0 0 0 12px;
      overflow: hidden;
    }
    ul li {
      display: block;
      margin-left: 0;
    }
    a {
      display: block;
      padding: 20px;
    }
    a:hover {
      background-color: #6d6d6d;
    }
  }
}
.container {
  margin: 0 auto;
  padding: 0 0;
}

.blog-posts-main {
  margin: 0 20px;
  max-width: 1240px;
}

.site-name {
  font-weight: 700;
  font-size: 34px;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }

  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}

.image-overlay {
  margin: 0 0;
  padding: 0 0;
  color: #fff;
  background: black;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../static/assets/iitd/lhc.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  min-height: calc(max(1200px - 100vw, 600px));
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .title {
      font-size: 48px;
      line-height: 48px;
      margin: 0 0 5px;
      font-weight: 900;
    }
    .tagline {
      font-size: 24px;
      margin-top: 0;
      margin-top: 2px;
    }
    .description {
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 30px;
    }
  }
}

.home-posts {
  .grids {
    padding-bottom: 30px;
  }
  padding-bottom: 20px;
}
.post-card {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #f2f2f2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  transition: box-shadow 0.3s linear;
  .featured-image {
    border-radius: 12px;
    img {
      display: block;
      margin: 0;
    }
  }

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
  }
  .meta {
    margin: 0;
    font-size: 14px;
    color: #212121;
  }
  .post-content {
    margin-top: 16px;
    .title {
      margin: 0 0 3px;
      font-size: 23px;
      font-weight: 600;
      a {
        color: var(--post-link-color);
        &:hover {
          color: #494949;
        }
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    padding: 0;
    .post-content {
      padding: 16px;
      margin-top: 0;
    }
    .featured-image {
      border-radius: 12px 12px 0 0;
    }
  }
}
.article-header {
  padding: 35px 0;
  text-align: center;
  margin: 0 auto;
  h1 {
    font-size: 36px;
    font-size: clamp(18px, calc(1rem + 2vw), 36px);
    margin: 0 auto 6px;
    max-width: 768px;
    line-height: 1.3;
    font-weight: 600;
  }
  time {
    font-size: 18px;
    color: #212121;
  }
}
@media (max-width: $breakpoint-sm) {
  .post-card .featured-image {
    min-height: 300px;
  }
}
article figure {
  margin: 40px 0;
  text-align: center;
  figcaption {
    font-size: var(--font-size-small);
    color: var(--text-color-meta);
    margin-top: 5px;
  }
}
article blockquote {
  margin-left: 0;
  padding: 5px 5px 5px 20px;
  background-color: #bdbdbd;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
}
article iframe {
  border: 2px solid black;
  box-sizing: border-box;
}
article img {
  max-width: 100%;
}
.blog-post-content {
  max-width: 70ch;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.5;
  font-size: 20px;
  a {
    color: #0d47a1;
    &:hover {
      color: #42a5f5;
    }
  }
}

.blog-post {
  text-align: center;
  .featured-image {
    min-height: 50vh;
    border-radius: 12px;
  }
}
// Buttons
.button {
  --padding: 20px;
  --margin: 20px;
  display: inline-flex;
  align-items: center;
  padding: var(--padding) calc(var(--padding) * 2);
  background-color: var(--button-alternate-color);
  color: var(--button-color);
  border-radius: 12px;
  text-decoration: none;
  appearance: none;
  border: none;
  font-size: inherit;
  font-weight: bold;
  line-height: 1;
  transition: background 0.3s linear;
  &:hover {
    background-color: var(--button-color);
    color: var(--button-alternate-color);
  }
  &.-outline {
    color: var(--primary-color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    background: #fff;
    &:hover {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
      background: #f2f2f2;
    }
  }
  & + .button {
    margin-left: 20px;
  }
  .icon {
    display: inline-flex;
    &.-right {
      margin-left: var(--margin);
    }
    &.-left {
      margin-right: var(--margin);
    }
  }
}

// Page
.page,
.blog-page,
.contact-page,
.thanks-page,
.not-found-page {
  padding: 50px 20px;
  .wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
}
// Contact page
.contact-page {
  .wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .description {
    line-height: 1.5;
    a {
      text-decoration: underline;
    }
  }
}
.contact-form {
  margin-top: 36px;
  label {
    color: var(--label-text);
  }
  input,
  textarea {
    width: 100%;
    max-width: 100%;
    margin: 8px 0 16px;
    padding: 16px;
    border: 6px solid #a4a89760;
    border-radius: 12px;
    appearance: none;
    font-size: 18px;
    font-weight: 600;
    &:focus {
      border-color: var(--input-focus-border);
    }
  }
  textarea {
    min-height: 200px;
  }
}
.site-footer {
  display: flex;
  align-items: center;
  background: #212121;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
  color: #fff;
  p {
    margin: 10px 0 0 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
    margin-left: 20px;
  }
  a {
    font-weight: normal;
    text-decoration: none;
    color: #fff !important;
    &:hover {
      color: #bdbdbd !important;
    }
  }

  .icon {
    font-size: 26px;
  }

  .author-name {
    text-decoration: underline;
  }
}

.profiles-grid {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

@media only screen and (min-width: $breakpoint-sm) {
  .profiles-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  .profiles-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.profile-card {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #f2f2f2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  transition: box-shadow 0.3s linear;
  text-align: center !important;
  .profile-image {
    border-radius: 50%;
    img {
      display: block;
      margin: 0;
    }
  }

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
  }
  .profile-content {
    margin-top: 16px;
    text-align: center;
    .profile-role {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
    }
    .profile-name {
      margin: 0 0 3px;
      font-size: 23px;
      font-weight: 600;
      color: #0d47a1;
    }
  }
  @media (max-width: $breakpoint-md) {
    padding: 0;
    .profile-content {
      padding: 16px;
      margin-top: 0;
    }
    .profile-image {
      border-radius: 12px 12px 0 0;
    }
  }
}

.profile-card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.pagination {
  text-align: center;
  padding: 50px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
    margin: 0 5px;
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    line-height: 1;
    &.is-active {
      color: var(--header-bg);
      pointer-events: none;
    }
  }
  &.-post {
    text-align: inherit;
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 50px 0 0;
    ul {
      display: flex;
      justify-content: space-between;
    }
    li:nth-child(1) {
      text-align: left;
    }
    li:nth-child(2) {
      text-align: right;
    }
    p {
      font-size: 16px;
      margin: 0 0 5px;
      color: #212121;
    }
    a {
      font-weight: normal;
      font-size: 16px;
      padding: 0;
    }
    .page-title {
      line-height: 1.3;
    }
  }
  @media (max-width: $breakpoint-md) {
    padding: 50px 0 ul {
      display: flex;
      justify-content: space-between;
    }
    &.-post ul {
      display: grid;
      justify-content: normal;
      a {
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: block;
        margin-bottom: 10px;
        background: #f5f5f5;
      }
    }
    .num {
      display: none;
    }
  }
}

@import "utility";

// Libraries
@import "lib/prism-default";
